.home{
    width: 100%;
    height: 80vh;

}
.left{
    width: 50%;
    height: 100%;
    align-items: start;
    padding-left: 10vh;
    row-gap: 4vh;
}
.left h1{
    font-size:6vh;
    font-family: gill Sans;

}
.left p{
    width: 70%;
}
.btn-sec{
    column-gap: 3vh;
}
.btn-sec  .start{
    background-color: rgb(55, 28, 92) ;
    color: white;
    font-size: 2vh;
    font-weight: 500;
}
.btn-sec .join{
    font-size: 2vh;
    font-weight: 500;
}
.right{
    width: 50%;
    height: 100%;
}
.right img{
    width: 95%;
}